<article>
<h2><%= @micropost.title %></h2>
<h6>
	<%= @micropost.created_at.strftime("%d %b %y") %> |
	<%= link_to "10 Comments",'#' %> |
	<%= link_to "#{@micropost.category}",'#' %></h6>
<p><%= @micropost.content %></p>
<%= render 'settings',:object => @micropost %>
</article>


